.card{
    background-color: rgba(245,245,245,255);
    width: 60vw;
    height: 30vw;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Body*/

.cardBody{
    font-weight: 500;
    font-size: 1.1vw;
}
.cardBody h3{
    font-size: 2vw;
    font-weight: 1000;
    margin-left: 3vw;
    padding: 1vw;

}
.cardBody .pDescripcion{
    
    margin-left: 4vw;
}
.cardBody .pPrecio{
    margin-left: 4vw;
    color: #98ba2d;
}
.cardBody .divEspec{
    width: 60vw;
    display: inline-block;
    height: 8vw;
    padding: 3vw;
    margin-left: 4.5vw;
    
}
.divEspec .divIco{
    width: 15vw;
    height: inherit;
    display: inherit;
    text-align: center;
}
.divEspec .divIco .ico{
    width: 5vw;
    height: 5vw;
    display: inline;
}

.divEspec .divIco .textoIco{
    padding: 2vw;
    height: 5vw;
    display: inline;
    font-weight: 900;
}

/*Footer*/
.divBtn{
    text-align: center;
}

.divBtn .btn-orange{
    background-color: #e08709;
    color: white;
    font-weight: 500;
    font-size: 1vw;
    border:none;
    width: 21.8vw;
    height: 5vh;
}

.btn-orange:hover{
    background-color: #f0910d!important;
    color: white!important;
}